<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/financial-operations.js}"></script>
</head>
<body>
<h1>Personal Financial Tracker</h1>
<h2>Welcome, <span th:text="${username}"></span></h2>
<a href="/logout">Logout</a>
<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>
<div>
    <button onClick="window.open('/operation/new','pagename','resizable,height=500,width=1000'); return false;">
        Add new transaction
    </button>
    <button id="editButton" onClick="editTransaction()" disabled>Edit Transaction</button>
    <button id="deleteButton" onClick="markForDelete()" disabled>Mark for Delete</button>
</div>
<div id="error-message" style="color: red;"></div>
<form th:action="@{/dashboard}" method="get">
    <label for="currency">Currency:</label>
    <select id="currency" name="currency" required>
        <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}" value=""></option>
    </select>
    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option th:each="category : ${categories}" th:value="${category}" th:text="${category.getDisplayName()}" value=""></option>
    </select>
    <button type="submit">Filter</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Select</th>
        <th>Date</th>
        <th>Transaction Details</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Location</th>
        <th>Category</th>
        <th>Recurrent</th>
        <th>Customer Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="operation : ${operations}">
        <td><input type="checkbox" name="selectedOperation" th:value="${operation.id}"
                   onChange="handleCheckboxChange()"></td>
        <td th:text="${#dates.format(operation.date, 'yyyy-MM-dd')}"></td>
        <td th:utext="${operation.formattedDetails}"></td>
        <td th:text="${operation.currency}"></td>
        <td th:text="${operation.amount}"></td>
        <td th:text="${operation.operationType}"></td>
        <td th:text="${operation.location}"></td>
        <td th:text="${operation.category}"></td>
        <td th:text="${operation.isRecurrent ? 'Yes' : 'No'}"></td>
        <td th:text="${operation.customerNotes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>