<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <script>
        function handleCheckboxChange() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"][name="selectedOperation"]');
            const selectedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const editButton = document.getElementById("editButton");
            const errorMessage = document.getElementById("error-message");

            if (selectedCheckboxes.length === 1) {
                editButton.disabled = false;
                errorMessage.innerText = "";
            } else if (selectedCheckboxes.length > 1) {
                editButton.disabled = true;
                errorMessage.innerText = "You can edit only one transaction at a time";
            } else {
                editButton.disabled = true;
                errorMessage.innerText = "";
            }
        }

        function editTransaction() {
            const selectedCheckbox = document.querySelector('input[type="checkbox"][name="selectedOperation"]:checked');
            if (selectedCheckbox) {
                const operationId = selectedCheckbox.value;
                window.open(`/operation/edit/${operationId}`, 'pagename', 'resizable,height=500,width=1000');
            }
        }
    </script>
</head>
<body>
<h1>Personal Financial Tracker</h1>
<h2>Welcome, <span th:text="${username}"></span></h2>
<a href="/logout">Logout</a>
<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>
<div>
    <button onClick="window.open('/operation/new','pagename','resizable,height=500,width=1000'); return false;">
        Add new transaction
    </button>
    <button id="editButton" onClick="editTransaction()" disabled>Edit Transaction</button>
</div>
<div id="error-message" style="color: red;"></div>
<table border="1">
    <thead>
    <tr>
        <th>Select</th>
        <th>Date</th>
        <th>Transaction Details</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Location</th>
        <th>Category</th>
        <th>Recurrent</th>
        <th>Customer Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="operation : ${operations}">
        <td><input type="checkbox" name="selectedOperation" th:value="${operation.id}" onChange="handleCheckboxChange()"></td>
        <td th:text="${#dates.format(operation.date, 'yyyy-MM-dd')}"></td>
        <td th:utext="${operation.formattedDetails}"></td>
        <td th:text="${operation.currency}"></td>
        <td th:text="${operation.amount}"></td>
        <td th:text="${operation.operationType}"></td>
        <td th:text="${operation.location}"></td>
        <td th:text="${operation.category}"></td>
        <td th:text="${operation.isRecurrent ? 'Yes' : 'No'}"></td>
        <td th:text="${operation.customerNotes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>